<div class="text-center">
	<h1>Dessine Moi Charlie</h1>
	<p>
		Jusqu'à la tragédie du 7 Janvier 2015, je ne me suis jamais vraiment intéressé au travail remarquable des journalistes et dessinateurs de Charlie Hebdo. <br> 
		Cette tragédie m'a fait réalisé que je me suis privé d'un trésor de culture toutes ces années. 
		Je souhaite désormais réparer cela en découvrant leur travail et en vous aident à en faire de même.
	</p>
	<div class="current-image-container">
		<img class="current-image" src="{{currentImg.url}}" alt="{{currentImg.description}}" height="500">
	</div>
	<div>
		<button class="btn btn-success" ng-click="random()" >Obtenir un autre dessin</button>
		<a href="#add-drawing" class="btn btn-primary">Ajouter un autre dessin</a>
	</div>
	
</div>